<p id="notice"><%= notice %></p>

<br><br>


<hr width="55%" size="10" color="black"> 
<h1 class="cequejeveux">Musée virtuel<h1>
<hr width="55%" size="10" color="black"> 



<table>
  <thead>
    <hr width="30%" size="5" color="black"> 
  </thead>

<section class="art-container">
      <% @arts.each do |art| %>
        <div>
          <p class="auteur"><%= art.author %></p>
          <p class="description"><%= art.description %></p>
          <p class="titre"><%= art.title %></p>
          <p class="date"><%= art.date %></p>
          <img src="<%= art.photo %>">
          <p><%= link_to 'Show', art %></p>
          <p><%= link_to 'Edit', edit_art_path(art) %></p>
          <p><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
</section>


<%= link_to 'New Art', new_art_path %>

<!--https://agutmuseum.herokuapp.com/arts-->




