<p id="notice"><%= notice %></p>

<br><br>


<hr width="55%" size="10" color="black"> 
<h1 class="cequejeveux">Musée virtuel<h1>
<hr width="55%" size="10" color="black"> 



<table>
  <thead>

<br><br>
<h1>1)Nature et Peinture</h1>



<h2>La nature dans les représentations artistiques au niveau des tableaux permet de créer une
ambiance et une symbolique. Soit la nature est au coeur du tableau, soit elle a une présence en
arrière plan afin d’apporter une atmosphère; avec une certaine symbolique.</h2>


<br><br>
<hr width="30%" size="5" color="black"> 
<br><br>

  </thead>


  <section class="art-container">
      <% @arts.each do |art| %>
        <div>
          <p class="auteur"><%= art.author %></p>
          <p class="description"><%= art.description %></p>
          <p><%= art.title %></p>
          <p><%= art.date %></p>
          <img src="<%= art.photo %>">
          <p><%= link_to 'Show', art %></p>
          <p><%= link_to 'Edit', edit_art_path(art) %></p>
          <p><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
  </section>
</table>

<br>
 


<%= link_to 'New Art', new_art_path %>

<!--https://agutmuseum.herokuapp.com/arts-->




